@import '../public/sass/base/reset';
@import '../public/sass/Helpers/variables';
@import '../public/sass/Helpers/mixins';


html{
    background-color: $bodyColor;

}


.App{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3.5em;
    @import '../public/sass/pages/windowBox';
}

