<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dashboard</title>
    </head>
    <body>
        <h1>Dashboard</h1>

        <h3>Add Post: </h3>
        <form action="/addPost" method="POST">
            <label for="text">Baslik: </label>
            <input type="text" name="text">
            <label for="url">Link: </label>
            <input type="text" name="url">
            <button type="submit">Ekle</button>
        </form>

        <h3>Delete Post: </h3>
        <% if (posts) { %>
            <ul>
                <% for (let post of posts) { %>
                    <li><%= post.text %> 
                        <form action="/deletePost" method="POST">
                            <input type="hidden" name="text" value="<%= post.text %>">
                            <button type="submit">x</button>
                        </form>
                    </li>
                <% } %>
            </ul>
        <% } else { %>
            <p>Post yok</p>
        <% } %>
          



    </body>
</html>