nav{
    ul{
        display: flex;
        list-style-type: none;
        padding: 16px;
        gap: 6px;
        li{
            &:nth-child(1){
                @include navBtn($NavBtnColor1);
            }
            &:nth-child(2){
                @include navBtn($NavBtnColor2);
            }
            &:nth-child(3){
                @include navBtn($NavBtnColor3);
            }
        }
    }
}