.about{
    margin-top: 3em;
    h1{
        @include titleText(1em);
    }
    p{
        @include text(.7em, 1em);
        max-width: 500px;

        a{
            text-decoration: none;
            color: #fff;
            @include aTemplate(white);
        }
    }
}